/*!
 Use this file to override main css file for your custom settings.
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato;
}
.header {
  background: #202334;
}
.header h2 {
  display: inline-block;
  vertical-align: sub;
  font-family: 'Orbitron', sans-serif;
  color: #F8F8F8;
}
#logo {
  width: 150px;
  margin: 5px 10px;
}
#map {
  height: 675px;
  width: 100%;
}


/* ---- Filters ---- */
#tbCountries select {
  border-radius: 3px;
  margin-top: 1px;
  padding: 2.4px 7px 3px;
  background: #fff;
}
.filter-form {
  display: inline-block;
}
.filters {
  padding: 0 4px 10px;
  background-color: #617487;
}
.filter-item {
  display: inline-block;
  margin: 0 5px;
}
.filter-item h4 {
  margin-bottom: 1px;
  color: #F8F8F8;
}
.filter-item input {
  border-radius: 3px;
  padding-left: 10px;
}
.filter-item .datefilter {
  padding-left: 13px;
}
#searchform {
  margin-left: 50px;
  display: inline-block;
}
#searchform input {
  width: 400px;
}


/* --- Footer --- */
.footer {
  padding: 1.2rem 0;
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
}
.footer_container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.footer_container .row .mb-5{
  padding-left: 0;
  margin-left: -55px;
}
.copyright {
  background-color: #1a252f;
  color: #fff;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}
.footer a {
  font-size: 17px;
  color: white;
}
.footer a:hover {
  color: grey;
  text-decoration: none;
}
