{% extends 'base.html' %}
{% load static %}

{% block title %}
Drone Strike
{% endblock %}

{% block base %}
  <!-- Map -->
  <h1>Drone Strike map</h1>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">

  <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />

  <input type="text" id="tbCountries" />

  <div id="map"> </div>

  <!-- Search results -->
  <div id="search_results">
    <ul>
      {% for location in locations %}
        <li>{{ location.lat }}, {{ location.lon }}</li>
      {% endfor %}
    </ul>
  </div>
  <!-- end search results -->
{% endblock %}

{% block extra_script %}
  <script>
    function initMap() {
      // Init map
      var base_coor = {lat: 12.89363, lng: 39.88600};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3.7,
        center: base_coor
      });

      // Add marker
      var marker = new google.maps.Marker({
        position: {lat: 32.30512565, lng: 69.57624435},
        map: map
      });

      // Marker information
      var infoWindowHover = new google.maps.InfoWindow({
        content: '<h1>Header hover</h1>'
      });
      var infoWindowDetail = new google.maps.InfoWindow({
        content: '<h1>Header detail</h1> \n <p>Hello world</p>'
      });


      // Marker listeners
      marker.addListener('mouseover', function(){
        infoWindowHover.open(map, marker);
      });
      marker.addListener('mouseout', function() {
        infoWindowHover.close();
      });

      marker.addListener('click', function(){
        infoWindowHover.close();
        infoWindowDetail.open(map, marker);
      });

      // Add Marker function
      function addMarker(coors){
        var marker = new google.maps.Marker({
          position: coors,
          map: map
        });
        return marker;
      }

      // Create all markers
      var markers = []
      {% for location in locations %}
        markers.push(addMarker({lat: {{ location.lat }}, lng: {{ location.lon }}}));
      {% endfor %}

      // Create marker clusters
      var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});


      // Searchbar
      var input = document.getElementById('pac-input');
      // var searchBox = new google.maps.places.SearchBox(input);
      // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    }
  </script>

  <script>
      $(document).ready(function() {
          BindControls();
          $('input[name="daterange"]').daterangepicker();
      });

      function BindControls() {
          var Countries = ['ARGENTINA',
              'AUSTRALIA',
              'BRAZIL',
              'BELARUS',
              'BHUTAN',
              'CHILE',
              'CAMBODIA',
              'CANADA',
              'CHILE',
              'DENMARK',
              'DOMINICA'];

          $('#tbCountries').autocomplete({
              source: Countries,
              minLength: 0,
              scroll: true
          }).focus(function() {
              $(this).autocomplete("search", "");
          });
      }
  </script>

  <!-- Places library -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8j277ePP0PfH8VZIVtIMDyRKJpId7LUg&libraries=places" async defer></script>

  <!-- Marker Cluster library -->
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

  <!-- Google Maps API key -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8j277ePP0PfH8VZIVtIMDyRKJpId7LUg&callback=initMap"></script>
{% endblock %}
